<h2>Product Details</h2>
<div *ngIf="product">
  <h3>{{product.name}}</h3>
  <!--
    Pipes are simple functions to use in template expressions to accept an input value and return a transformed value. Pipes are useful because you can use them throughout your application, while only declaring each pipe once.
  -->
  <h4>{{product.price | currency}}</h4>
  <p>{{product.description}}</p>
  <!--
    Added a buiy button and binded a click event to the addToCart() method. This code updates the product details template with a Buy button that adds the current product to the cart.

  -->
  <button type="button" (click)="addToCart(product)">Buy</button>
</div>
