<h2>Products</h2>
<div *ngFor="let product of products">
  <!--  

    The RouterLink directive helps you customize the anchor element. In this case, the route, or URL, contains one fixed segment, /products. The final segment is variable, inserting the id property of the current product. 
    For example, the URL for a product with an id of 1 would be similar to https://localhost:4200/products/1.

  -->
  <h3>
    <a 
      [title]="product.name + ' details'" 
      [routerLink]="['/products', product.id]">
      {{product.name}}
    </a>
  </h3>
  <p *ngIf="product.description">
    Description: {{product.description}}
  </p>
  <button type="button" (click)="share()"> SHARE</button>
  <!--
    PASS DATA TO A CHILD

    Pass the current product as input to the app-product-alerts child
    component using property binding [product].

    [product] is an attribute defined on product-alert.ts with @Input()

  -->

  <!--


In product-list.component.html, bind <app-product-alerts> to the onNotify() method of the product list component.

  -->
  <app-product-alerts [product]="product" (notify)="onNotify()"></app-product-alerts>
</div>




<!--

With *ngFor, the <div> repeats for each product in the list.

Structural directives shape or reshape the DOM's structure, by adding, 
removing, and manipulating elements. For more information about structural 
directives, see Structural directives.

Inside the <div>, add an <h3> and {{ product.name }}. The {{ product.name }} 
statement is an example of Angular's interpolation syntax. 
Interpolation {{ }} lets you render the property value as text.

-->

<!--

Angular doesn't create the <p> element if the product's description property is empty.

-->